header {
    padding: 20px;
    border: 1px solid #efe8ed;
    position: fixed;
    width: 100%;
    top: 0;
    h1 {
        color: #555;
    }
    ul {
        margin-right: 30px;
        li {
            margin-left: 20px;
            color: #555;
            list-style: none;
            cursor: pointer;
            font-size: 16px;
        }
    }
    a {
        text-decoration: none;
        color: #555;
    }
}

@media (max-width:414px) {
    header{
        flex-direction: column;
        text-align: center;

        h1{
            margin-bottom: 10px;
        }
    }
}