header{
    padding:20px;
    border:1px solid #efe8ed;
    position: fixed;
    width:100%;
    top:0;
}


h1{
    color:#555;
}

ul{
    margin-right: 30px;
}

header li{
    margin-left:20px;
    color:#555;
    cursor: pointer;
    font-size: 12px;

}

a{
    text-decoration: none;
    color:#555;
}