
.events-container {
  position: relative;
  height: 125px;
  width: 644px;
  border: 1px solid red;
  padding:10px;

  &__event {

    &--content {
      display: flex;
      justify-content: space-around;
      align-items: center;

      h2 {
        font-size: 12px;
      }
    }

    &--members {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
    }
  }
}
