/*
   * It uses indentation rather than curly brackets
   * To separate statements, it uses newlines instead of
   * semicolons
   *
*/

/* Resetting the semantic ui box-shadow that looks like border*/
.ui.celled.grid > .row > .column {
  box-shadow: none;
}

.ui.pointing {
  width: 147px;
}

.profile {
  margin-bottom: 150px;


  .menu {
    margin-top: 200px;
    position: fixed;
  }

  #hackerthons{
    border:1px solid grey;
    height:385px;
    position: fixed;
    right:30px;
    top:200px;


    div{
      .hack{
        border:1px solid grey;
        padding:20px;
        margin-top:10px;

        h4{
          font-size:15px;
        }
      }
    }
  }
}

