body{
	background-color: #f1f1f1;
}

.mainContainer{
	background: #ffffff;
	height: 700px;
	margin-top: 20px;
	width: 820px;
}

.leftHeading{
	margin: 15px;
	padding: 25px;
	font-weight: 400;
	position: relative;
	left: 15%;
}

.input{
	display: block;
	margin: 20px;
	position: relative;
	left: 0%;
	border: none;
	background: transparent;
}

.correct{
	display: none;
}

.mistake{
	position: relative;
	left: 4%;
	color: red;
	font-weight: 200;
}

.horizontalLine{
	width: 80%;
	height: 3px;
	position: relative;
	left: -5%;
}

.sideContainer{
	position: relative;
	left: 1%;
	top: 2%;
	width: 50%;
	float: left;
	height: 100%;
	
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #707070;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #707070;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #707070;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #707070;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #707070;
}

input:focus{
	outline: none;
}

.button{
	background-color: #16a086;
	font-weight: bold;
	width: 35%;
	height: 6%;
	margin-top: 5%;
	position: relative;
	left: 4%;
}

.button:hover{
	background-color: #1e8e79;
	cursor: pointer;
	transition: all 0.7s;

}

.rightContainer{
	width: 50%;
	height: 100%;
	position: relative;
	left: 14px;
	float: right;
	background-image: url('/../img/login_image.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.rightHeading{
	margin: 15px;
	padding: 35px;
	font-weight: 400;
	position: relative;
	
	color: white;
}



.baton{
	display: block;
	margin: 35px;
	display: block;
	width: 90%;
	height: 7%;
	position: relative;
	left: -3%;
}

.facebook,.twitter,.google{
	color: white;
	font-weight: 500;
}

.facebook{
	background: #3b5998;
}

.twitter{
	background: #00aced;
}

.google{
	background: #d34836;
}

.google:hover,.facebook:hover,.twitter:hover{
	cursor: pointer;
}
.google:hover{
	background-color: #af1f0f;
}

.facebook:hover{
	background-color: #0c3892;
}

.twitter:hover{
	background-color: #0d8aea;
}

.circle{
	height: 8%;
	width: 8%;
	background-color: white;
	border-radius: 50%;
	border: none;
	position: relative;
	left: 47%;
	bottom: 59%;
}

.circle h3{
	font-weight: 300;
}
